html,body{
  font-family: 'Open Sans', sans-serif;
  background-color: #EBEBEB;
  min-height: 100%;
}

a, a:hover, a:link, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}

.right{
    float: right!important;
}

ul,li{
    list-style-type: none;
}
