html,body {
  font-family: 'Open Sans', sans-serif;
  background-color: @color4;//#EBEBEB;
  min-height: 100%;
}

a, a:hover, a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.right {
  float: right!important;
}

ul,li {
  list-style-type: none;
}

.col-condensed  {
  margin-left: 0px;
  margin-right: 0px;
  div[class^="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.fa-star-half-empty {
  color: #BBBBBB;
}
