.nav-bar {
  background-color: @color3;
}

.nav-bar__container {
  color: @color4;
  font-weight: 600;
}

.nav-bar__home-btn {
  float: left;
  padding: 0px 15px;
  font-size: 26px;
  .transition(all 300ms ease 0s);
}

.nav-bar__home-btn:hover {
  color: @color2;
}

.nav-bar__home-btn i {
  line-height: 50px;
}

.nav-bar__items {
  list-style-type: none;
}

.nav-bar__items__item a {
  float: left;
  display: block;
  padding: 0px 15px;
  line-height: 50px;
  text-transform: uppercase;
  .transition(all 300ms ease 0s);
}

.nav-bar__items__item a:hover {
  background-color: @color5;
}

.nav-bar__collpase-btn  {
  color: @color4;
  cursor: pointer;
  .border-radius();
  padding: 10px;
  margin: 8px;
  background-color: @color2;
  float: right;
  display: none;
}

@media (max-width: 991px)  {
  .nav-bar__items__item a {
    width: 100%;
  }

  .nav-bar__items {
    margin-top: 50px;
    border-top: 1px solid @color5;
    display: none;
  }

  .nav-bar__collpase-btn {
    display: block;
  }
}
