.top-bar{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #363636;
    text-align: center;
    font-family: arial, sans-serif;
    width: 100%;
}

.top-bar__item{
    border-right: 1px solid #555555;
    float: left;
    padding: 0px 10px;
}

.top-bar__item a{
    font-size: 11px;
    line-height: 25px;
    color:#ffffff;
}

.top-bar__item .top-bar__item__value{
    color: #ff4f4f;
    padding-left: 2px;
}

@media (max-width: 768px) {
    .top-bar__items{
        display: inline-block;
    }
    .top-bar__items__wrapper{

    }
}
