.header__top-bar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #363636;
  text-align: center;
  font-family: arial, sans-serif;
  width: 100%;
}

.header__top-bar__items {
  list-style-type: none;
  float: left;
}

.header__top-bar__items__item:last-of-type {
  border: none;
}

.header__top-bar__items__item {
  border-right: 1px solid #555555;
  float: left;
  padding: 0px 10px;
}

.header__top-bar__items__item a {
  font-size: 11px;
  line-height: 25px;
  color:#ffffff;
}

.header__top-bar__items__item .header__top-bar__items__item__value {
  color: #ff4f4f;
  padding-left: 2px;
}

@media (max-width: 768px)  {
  .header__top-bar__items {
    display: inline-block;
  }
  .header__top-bar__items {
    float: none!important;
  }
}
