.footer__copyright-bar {
  padding: 15px;
  text-align: center;
  color: @color4;
  border-top: 2px solid @color5;
  line-height: 25px;
  font-size: 12px;
}

.footer__copyright-bar a {
  color: @color2;
}
