.footer__lower{
    padding-top:50px;
}

.footer__lower__list-menu__title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer__lower__list-menu{
    padding-bottom: 30px;
}

.footer__lower__list-menu__items__item{
    line-height: 20px;
}

.footer__lower__list-menu__items__item i{
    padding-right: 10px;
}
